{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success rounded-pill text-white fw-bold">{{ button_label|default('Save') }}</button>
    <a class="btn btn-warning rounded-pill text-white fw-bold" href="{{ path('article_index') }}">Cancel</a>
{{ form_end(form) }}
